body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e7e4e4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 5rem;
  border: 3px outset black;
  background: #c96974;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  display: flex;
  justify-content:center;
  align-items: center;
}