body {
  padding: 0;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  max-width: 960px;
}

header {
  padding: 10px 0;
  text-align: center;
}

main {
  display: flex;
  gap: 1em;
}

aside {
  flex: 1;
  background-color: #333;
  color: white;
}

section {
  flex: 3;
}

h3 {
  padding: 10% 0 0 15%;
  margin: 0;
}

div {
  display: flex;
  flex: column;
  gap: 0.5em;
}

.text_ipsum {
  flex: 1;
  line-height: 1.25em;
}